<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div id="row_test" height="100%">
    <div id="title" height="20%">
        <p>{{title}}</p>
<!--        <button type="button" onclick="showhtml()">显示页面</button>-->
    </div>
    <div id="ifra"  height="80%">
        <iframe
                id="fra"
                src="/"
                name="ifr"
                onload="this.height = ifr.document.body.scrollHeight"
                width="100%"
                scrolling="no"
                style="display:inner">

        </iframe>
    </div>
</div>
<script>


</script>
</body>
</html>
